<h3>ログイン</h3>
<%# エラー表示 %>
<div class="col">
  <%# 編集フォーム %>
  <p class="h4"><%= @nurse.name %>でログインする</p>
  <%# ログインするユーザーを指定する必要があるので/login/#{@nurse.id}にpostリクエストを飛ばす %>
  <%= form_with model: @session, url:"/login/#{@nurse.id}", local: true do |form| %>
    <div class="form-group">
      <%= form.label :"パスワード"%>
      <%= form.password_field :password, placeholder:"パスワードを入力して下さい", class: "form-control", id: "password"  %>
    </div>
    <%= form.submit :"ログイン", class:"btn btn-primary" %>
  <% end %>
</div>
<%= link_to("ログインユーザーを選択する", "/login", class: "btn btn-link") %>
