<h3>コメント編集</h3>
<%# エラー表示 %>
<div class="col">
  <% @comment.errors.full_messages.each do |message|%>
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div>
  <% end %>

<%= link_to("編集ページに戻る", "/bedsores/#{@comment.bedsore.id}/paint") %>
  <%# 編集フォーム %>
  <%= form_with model: @comment, local: true do |form| %>
    <%= render :partial => 'form', :locals => {:form => form} %>
    <%= form.submit :"更新", class:"btn btn-primary" %>
  <% end %>
</div>
