<h3>コメントを登録</h3>
<%# エラー表示 %>
<div class="col">
  <% @comment.errors.full_messages.each do |message|%>
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div>
  <% end %>

<%= link_to("編集ページに戻る", "/bedsores/#{@bedsore.id}/paint") %>
  <%# 編集フォーム %>
  <%= form_with model: @comment, local: true do |form| %>
    <%= form.hidden_field :bedsore_id, :value => @bedsore.id %>
    <%= render :partial => 'form', :locals => {:form => form} %>
    <%= form.submit :"登録", class:"btn btn-primary" %>
  <% end %>
</div>
