<h1>使用除圧用具登録</h1>
<%= link_to("使用除圧用具一覧へ戻る", "/using_depressure_tools/#{@using_depressure_tool.id}", class: "btn btn-link") %>
<%= form_with model: @using_depressure_tool, local: true do |form| %>
  <div class="form-group custom-file">
    <%= form.file_field :image %>
  </div>
  <div class="form-group">
    <%= form.label :"コメント"%>
    <%= form.text_area :comment, class: "form-control", id: "topics" %>
  </div>
  <h3>ベッド</h3>
  <% @depressure_tools.select{|tool| tool.genre == "ベッド" }.each do |tool| %>
    <div class="container" style="min-height:30px">
      <div class="list-group-item">
        <% checked = tool.using_depressure_tools.exists?(@using_depressure_tool.id) ? true : false %> 
        <%= form.check_box 'tool_ids', {:name => 'using_depressure_tool[tool_ids][]', :checked => checked }, tool.id, nil %>
        <%= link_to(tool.name, "/depressure_tools/#{tool.id}") %>
      </div>
    </div>
  <% end %>
  <h3>車椅子</h3>
  <% @depressure_tools.select{|tool| tool.genre == "車椅子" }.each do |tool| %>
    <div class="container" style="min-height:30px">
      <div class="list-group-item">
        <% checked = tool.using_depressure_tools.exists?(@using_depressure_tool.id) ? true : false %> 
        <%= form.check_box 'tool_ids', {:name => 'using_depressure_tool[tool_ids][]', :checked => checked }, tool.id, nil %>
        <%= link_to(tool.name, "/depressure_tools/#{tool.id}") %>
      </div>
    </div>
  <% end %>
  <h3>その他</h3>
  <% @depressure_tools.select{|tool| tool.genre == "その他" }.each do |tool| %>
    <div class="container" style="min-height:30px">
      <div class="list-group-item">
        <% checked = tool.using_depressure_tools.exists?(@using_depressure_tool.id) ? true : false %> 
        <%= form.check_box 'tool_ids', {:name => 'using_depressure_tool[tool_ids][]', :checked => checked }, tool.id, nil %>
        <%= link_to(tool.name, "/depressure_tools/#{tool.id}") %>
      </div>
    </div>
  <% end %>
  <%= form.submit :"更新", class:"btn btn-primary" %>
<% end %>