<%= javascript_include_tag "imageResize" %>

<h1>褥瘡情報を新規登録</h1>
<%= form_with model: @bedsore, url:"/bedsores", id:"image-form", local: true do |form| %>
  <%= form.hidden_field :bedsore_part_id, :value => @bedsore_part.id %>
  <%= form.hidden_field :image_base64, id: "image-base64" %>
  <div class="form-group">
    <%= form.label :"コメント"%>
    <%= form.text_area :comment, class: "form-control", id: "topics" %>
  </div>
  <div class="modal-body">
    <div class="form-group custom-file">
      <%= form.file_field :image,  id: "image-file" %>
    </div>
  </div>
<% end %>
<button class="btn btn-primary" id="upload-button">登録</button>