<%= javascript_include_tag "library/atrament.min" %>
<%= javascript_include_tag "paint" %>

<h1><%= @bedsore.bedsore_part.patient.name %>さんの<%= @bedsore.bedsore_part.part_name %>のDESIGN-R</h1>
<%= link_to("#{@bedsore.bedsore_part.patient.name}さんの個人ページへ", "/patients/#{@bedsore.bedsore_part.patient.id}") %>
<p>(撮影者:<%= @bedsore.image_editor.name %> <%= @bedsore.image_edited_at %></p>
<p>褥瘡評価:</p>
<%= form_with model: @bedsore.design_r, local: true do |form| %>
  <%= render :partial => 'design_r_form', :locals => {:form => form} %>
<% end %>
<h3>褥瘡画像</h3>

<div>
  <button id="save_canvas">保存</button>
  <button id="clear_canvas">クリアー</button>
  <div style="position: relative;">
    <canvas class="border" id="mySketcher" style="position: absolute; z-index:50;"></canvas>
    <%= image_tag(@bedsore.image.url, :class => "img-fluid",:id=> "under_image", :style => "position: absolute; z-index:1;") if @bedsore.image?%>
  </div>

  <%= form_for(@bedsore) do |form| %>
    <%= form.hidden_field :remote_handwrite_image_url %>
    <%= form.hidden_field :handwrite_image %>
  <% end %>

</div>