<%= javascript_include_tag "konva.min" %>
<%= javascript_include_tag "setupPaintViewer" %>

<h1><%= @bedsore.bedsore_part.patient.name %>さんの<%= @bedsore.bedsore_part.part_name %>のDESIGN-R</h1>
<%= link_to("褥瘡管理画面へ", {:controller => "bedsores", :bedsore_part_id => @bedsore.bedsore_part.id}) %>
<p>撮影者:<%= @bedsore.image_editor.name %> <%= @bedsore.image_edited_at.strftime("%Y年%m月%d日 %H時%M分") if !@bedsore.image_edited_at.nil? %></p>
<p>褥瘡評価:</p>
<h3>Design-情報</h3>
<%= link_to("編集", "/design_rs/#{@bedsore.design_r.id}/edit", :class => "btn btn-primary mt-1 mb-2") %>
<div class="container">
  <%= form_with model: @bedsore.design_r, local: true do |form| %>
    <%= render :partial => 'design_r_form', :locals => {:form => form} %>
  <% end %>
</div>
<h3>褥瘡画像</h3>
<div class="container">
  <%= link_to("画像を編集", "/bedsores/#{@bedsore.id}/paint", :class => "btn btn-primary mt-1 mb-2") %>
  <div id="canvas_area"></div>
  <div id="image_data" 
  data-image-url="<%= @bedsore.image.url %>"
  data-handwrite-image-url="<%= @bedsore.handwrite_image.url %>"
  data-comments="<%= @bedsore.comments.as_json().to_json() %>"
  data-bedsore-id="<%= @bedsore.id %>"
></div>

</div>

