<%= javascript_include_tag "atrament.min" %>

<h1><%= @bedsore.bedsore_part.patient.name %>さんの<%= @bedsore.bedsore_part.part_name %>のDESIGN-R</h1>
<%= link_to("#{@bedsore.bedsore_part.patient.name}さんの個人ページへ", "/patients/#{@bedsore.bedsore_part.patient.id}") %>
<p>(撮影者:<%= @bedsore.image_editor.name %> <%= @bedsore.image_edited_at %></p>
<p>褥瘡評価:</p>
<%= form_with model: @bedsore.design_r, local: true do |form| %>
  <%= render :partial => 'design_r_form', :locals => {:form => form} %>
<% end %>
<h3>褥瘡画像</h3>
<canvas id="mySketcher" width="500px" height="500px"></canvas>
<div style = "width: 250px;">
  <%= image_tag(@bedsore.image.url, :class => "img-thumbnail") if @bedsore.image?%>
</div>