<%= javascript_include_tag "konva.min" %>
<%= javascript_include_tag "setupPaintViewer" %>

<h1><%= @bedsore.bedsore_part.patient.name %>さんの<%= @bedsore.bedsore_part.part_name %>のDESIGN-R</h1>
<%= link_to("褥瘡管理画面へ", {:controller => "bedsores", :bedsore_part_id => @bedsore.bedsore_part.id}) %>
<p>撮影者:<%= @bedsore.image_editor.name %> <%= @bedsore.image_edited_at.strftime("%Y年%m月%d日 %H時%M分") if !@bedsore.image_edited_at.nil? %></p>
<p>褥瘡評価:</p>
<h3>Design-R情報</h3>
<%= link_to("編集/入力", "/design_rs/#{@bedsore.design_r.id}/edit", :class => "btn btn-primary mt-1 mb-2") %>
<p>褥瘡評価 :<%= @bedsore.design_r.getDesignRCode() %> = <%= @bedsore.design_r.calcDesignRScore %></p>
<div class="container">
  <p>深さ:<span class="h4"><%= @bedsore.design_r.depth %></span></p>
  <p>滲出液:<span class="h4"><%= @bedsore.design_r.exudate %></span></p>
  <p>大きさ: 短径 <span class="h4"><%= @bedsore.design_r.size_minor_axis %></span>cm x 長径 <span class="h4"><%= @bedsore.design_r.size_major_axis %></span>cm</p>
  <p>炎症/感染:<span class="h4"><%= @bedsore.design_r.inflammation %></span></p>
  <p>肉芽組織:<span class="h4"><%= @bedsore.design_r.granule_tissue %></span></p>
  <p>壊死組織:<span class="h4"><%= @bedsore.design_r.necrotic_tissue %></span></p>
  <p>ポケット: 短径 <span class="h4"><%= @bedsore.design_r.pocket_minor_axis %></span>cm x 長径 <span class="h4"><%= @bedsore.design_r.pocket_major_axis %></span>cm</p>
</div>
<h3>褥瘡画像</h3>
<div class="container">
  <%= link_to("手書きコメント入力", "/bedsores/#{@bedsore.id}/paint", :class => "btn btn-primary mt-1 mb-2") %>
  <%= link_to("画像/コメントを変更", "/bedsores/#{@bedsore.id}/edit", :class => "btn btn-primary mt-1 mb-2") %>
  <h4>コメント</h4>
  <div class="container" >
    <p style="min-height:100px" class="bg-light border h5"> <%= @bedsore.comment %> </p>
  </div>
  <div id="canvas_area"></div>
  <div id="image_data"
    data-image-url="<%= @bedsore.image.url %>"
    data-handwrite-image-url="<%= @bedsore.handwrite_image.url %>"
    data-comments="<%= @bedsore.comments.as_json().to_json() %>"
    data-bedsore-id="<%= @bedsore.id %>"
></div>

</div>

