<h1><%= @bedsore_part.patient.name %>さんの<%= @bedsore_part.part_name %>に関するケア情報</h1>
<%= link_to("#{@bedsore_part.patient.name}さんの個人ページへ", "/patients/#{@bedsore_part.patient.id}") %>
<div class="mt-1 mb-2">
  <%= link_to("ケア情報新規登録", {:controller => "care_infos", :action => "new", :bedsore_part_id => @bedsore_part.id},class:"btn btn-primary") %>
</div>
<div class="list-group">
  <% @bedsore_part.care_infos.each do |care_info| %>
    <div class="row list-item position-relative">
      <div class="col-md-3 mb-md-0 p-md-4">
          <%= link_to(image_tag(care_info.image.url, :class => "img-thumbnail"), "/care_infos/#{care_info.id}") if care_info.image?%>
      </div>
      <div class="col position-static p-4 pl-md-0">
        <%= care_info.comment %>
        <div class="d-flex justify-content-end">
          <%= link_to("詳細", "/care_infos/#{care_info.id}", class:"btn btn-info btn-sm m-1") %>
          <%= link_to("削除", "/care_infos/#{care_info.id}", method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-danger btn-sm m-1") %>
        </div>
      </div>
    </div>
  <% end %>
</div>
