<h1><%= @bedsore_part.patient.name %>さんの<%= @bedsore_part.part_name %>に関するケア情報</h1>
<%= link_to("#{@bedsore_part.patient.name}さんの個人ページへ", "/patients/#{@bedsore_part.patient.id}") %>
<div class="mt-1 mb-2">
  <%= link_to("ケア情報新規登録", {:controller => "care_infos", :action => "new", :bedsore_part_id => @bedsore_part.id},class:"btn btn-primary") %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" style="width:30%;">画像</th>
      <th scope="col">コメント</th>
      <th scope="col" style="width:10%;" >並べ替え</th>
      <th scope="col" style="width:15%;">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @bedsore_part.care_infos.order(:position).each do |care_info| %>
      <tr>
        <td>
          <%= link_to(image_tag(care_info.image.url, :class => "img-thumbnail"), "/care_infos/#{care_info.id}") if care_info.image?%> 
        </td>
        <td><%= care_info.comment %></td>
        <td>
          <%= care_info.first? ? ' '.html_safe : link_to('▲', {:controller => "care_infos", :action => "move_higher", :id => care_info.id, :bedsore_part_id => @bedsore_part.id}, method: :put) %>
          <%= care_info.last? ? ' '.html_safe : link_to('▼', {:controller => "care_infos", :action => "move_lower", :id => care_info.id, :bedsore_part_id => @bedsore_part.id}, method: :put) %>
        </td>
        <td ">      
          <%= link_to("詳細", "/care_infos/#{care_info.id}", class:"btn btn-info btn-sm") %>
          <%= link_to("削除", "/care_infos/#{care_info.id}", method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-danger btn-sm") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
