<h3>療養者情報編集</h3>
<%= link_to("一覧へ戻る", "/patients", class:"btn btn-link") %>
<%# エラー表示 %>
<div class="col">
  <% @patient.errors.full_messages.each do |message|%>
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div>
  <% end %>

  <%# 編集フォーム %>
  <%= form_with model: @patient, local: true do |form| %>
    <div class="form-group">
      <%= form.label :"名前"%>
      <%= form.text_field :name, class: "form-control", id: "name" %>
    </div>
    <div class="form-group">
      <%= form.label :"名前(かな)"%>
      <%= form.text_field :name_kana, class: "form-control", id: "name_kana" %>
    </div>
    <div class="form-group">
      <%= form.label :"年齢"%>
      <%= form.number_field :age, class: "form-control", id: "age"  %>
    </div>
    <div class="form-group">
      <%= form.label :"性別"%>
      <%= form.select :sex, {"男性"=>1, "女性"=>2, "その他"=>0,}, {}, { class: "custom-select" } %>
    </div>
    <div class="form-group">
      <%= form.label :"トピック"%>
      <%= form.text_field :topics, class: "form-control", id: "name_kana" %>
    </div>
    <%= form.submit :"更新", class:"btn btn-primary" %>
  <% end %>
</div>
