<%= javascript_include_tag "imageResize" %>
<h3>療養者情報編集</h3>
<%= link_to("療法者情報へ戻る", "/patients/#{@patient.id}", class:"btn btn-link") %>
<%# エラー表示 %>
<div class="col">
  <% @patient.errors.full_messages.each do |message|%>
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div>
  <% end %>

  <%# 編集フォーム %>
  <%= form_with model: @patient, local: true do |form| %>
    <%# フォーム共通部分呼び出し %>
    <%= render :partial => 'form', :locals => {:form => form} %>
    <%
=begin%>
 <%= form.submit :"更新", class:"btn btn-primary" %> 
<%
=end%>
  <% end %>
  <button class="btn btn-primary" id="upload-button">登録</button>
</div>
