<h3>療養者新規登録</h3>
<%= link_to("一覧へ戻る", "/patients", class: "btn btn-link") %>
<div class="col">
  <%# エラー表示 %>
  <% @patient.errors.full_messages.each do |message|%>
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div>
  <% end %>

  <%# 登録フォーム %>
  <%= form_with model: @patient, local: true do |form| %>
    <%# フォーム共通部分呼び出し %>
    <%= render :partial => 'form', :locals => {:form => form} %>
    <%= form.submit :"登録", class:"btn btn-primary" %>
  <% end %>
</div>
