<h3>療養者新規登録</h3>
<%= link_to("一覧へ戻る", "/patients") %>
<%# エラー表示 %>
<div class="row">
  <% @patient.errors.full_messages.each do |message|%>
    <blockquote>
      <%= message %>
    </blockquote>
  <% end %>

  <%# TODO:form_withを使って書き換える %>
  <%= form_tag("/patients/create") do %>
    <div class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" name="name" type="text" class="validate"　value=<%= @patient.name %>>
          <label for="name">名前</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="name_kana" name="name_kana" type="text" class="validate"　value=<%= @patient.name_kana %>>
          <label for="name_kana">名前(ふりがな)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="age" name="age" type="number" class="validate"　value=<%= @patient.age %>>
          <label for="age">年齢</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select id="sex" name="sex" class="browser-default" 　value=<%= @patient.sex %>>
            <option value="0" disabled selected>性別を選択して下さい</option>
            <option value="1">男性</option>
            <option value="2">女性</option>
            <option value="0">その他</option>
          </select>
          <%# TODO:何故かセレクトボックスとラベルが重なってしまう %>
          <%# <label for="sex">性別</label> %>
        </div>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" >登録</button>
  <% end %>
</>
