<h1>療養者詳細</h1>
<%= link_to("一覧へ戻る", "/patients") %>
<h3>基本情報</h3>
<div class="container">
  <p>名前:<%= @patient.name %></p>
  <p>名前（かな）:<%= @patient.name_kana %></p>
  <p>年齢:<%= @patient.age %></p>
  <p>性別:<%= @patient.sex %></p>
  <h4>トピック</h4>
  <div class="container">
    <p>トピック:<%= @patient.topics %></p>
    <p>最終編集者:<%= @patient.topics_editor.name if !@patient.topics_editor.nil? %></p>
    <p>トピック更新日時:<%= @patient.topics_updated_at.strftime("%Y年%m月%d日 %H時%M分") if !@patient.topics_updated_at.nil? %></p>
  </div>
  <h4>画像</h4>
  <div class="container">
    <div style="width: 24rem;">
      <%= image_tag(@patient.image.url, :class => "img-thumbnail") if @patient.image?%>
    </div>
    <p>最終編集者:<%= @patient.image_editor.name if !@patient.image_editor.nil? %></p>
    <p>画像撮影日時:<%= @patient.image_updated_at.strftime("%Y年%m月%d日 %H時%M分") if !@patient.image_updated_at.nil? && @patient.image?%></p>
  </div>
  <%= link_to("編集", "/patients/#{@patient.id}/edit", class:"btn btn-primary") %>
  <%= link_to("削除", "/patients/#{@patient.id}", method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-danger") %>
</div>
<hr/>
<h3>褥瘡部位</h3>
<div class="container">
  <div class="modal fade" id="post" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= form_with model: @bedsore_part, url:"/bedsore_parts", local: true do |form| %>
          <%= form.hidden_field :patient_id, :value => @patient.id %>
          <div class="modal-body">
            <%= form.label :"場所"%>
            <%= form.select :part_genre, BedsorePart.part_genres.keys.to_a, {}, { class: "custom-select" } %>
          </div>
          <div class="modal-body">
            <%= form.label :"部位名"%>
            <%= form.text_field :part_name, class: "form-control", placeholder: "投稿内容を入力" %>
          </div>
          <div class="modal-body">
            <%= form.label :"好発部位"%>
            <%= form.select :common_part, BedsorePart.common_parts.keys.to_a, {}, { class: "custom-select" } %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            <%= form.submit "登録", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary mt-1 mb-2" data-toggle="modal" data-target="#post">新規登録</button>
  <div class="list-group">
    <% @patient.bedsore_parts.each do |bedsore_part| %>
        <div class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <%= bedsore_part.part_name %>
          <%= link_to("ケア情報", {:controller => "care_infos", :bedsore_part_id => bedsore_part.id},class:"btn btn-info btn-sm") %>
          <%= link_to("褥瘡管理", {:controller => "bedsores", :bedsore_part_id => bedsore_part.id},class:"btn btn-info btn-sm") %>
        </div>
          <div class="">
            <%= link_to("削除", "/bedsore_parts/#{bedsore_part.id}", method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-danger btn-sm") %>
          </div>
        </div>
    <% end %>
  </div>
</div>
<h3>使用物品</h3>
<div class="container">
  <h5><%= link_to("ケア物品一覧", "/using_care_tools/#{@patient.using_care_tool.id}", class: "btn btn-info") %></h5>
  <h5>使用ケア物品一覧</h5>
</div>

