<%#看護師の入力フォームの共通部分%>
<div class="form-group">
  <%= form.label :"名前 *", class:"active"%>
  <%= form.text_field :name, class: "form-control", id: "name" %>
</div>
<div class="form-group">
  <%= form.label :"名前(かな)", class:"active"%>
  <%= form.text_field :name_kana, class: "form-control", id: "name_kana" %>
</div>
<div class="form-group">
  <%= form.label :"パスワード"%>
  <%= form.password_field :password, placeholder:"変更する場合は新しいパスワードを入力して下さい", class: "form-control", id: "password"  %>
</div>
<div class="form-group">
  <%= form.label :"パスワード(確認)"%>
  <%= form.password_field :password_confirmation, placeholder:"変更する場合は新しいパスワードを入力して下さい", class: "form-control", id: "password_confirmation"  %>
</div>
