<h3>看護師登録</h3>
<%= link_to("一覧へ戻る", "/nurses") %>
<div class="col">
  <%# エラー表示 %>
  <% @nurse.errors.full_messages.each do |message|%>
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div>
  <% end %>

  <%# 編集フォーム %>
  <%= form_with model: @nurse, local: true do |form| %>
    <%# フォーム共通部分呼び出し %>
    <%= render :partial => 'form', :locals => {:form => form} %>
    <%= form.submit :"更新", class:"btn btn-primary" %>
  <% end %>
</div>
