<h1>看護師詳細</h1>
<%= link_to("一覧へ戻る", "/nurses") %>
<div class="posts-index-item">
    <p>名前:<%= @nurse.name %></p>
    <p>名前（かな）:<%= @nurse.name_kana %></p>
</div>
<%= link_to("編集", "/nurses/#{@nurse.id}/edit", class:"btn btn-primary") %>
<%= link_to("削除", "/nurses/#{@nurse.id}", method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-danger") %>

