<h1>ケア物品詳細</h1>
<%= link_to("一覧へ戻る", "/care_tools") %>
<div class="posts-index-item">
    <p>名前:<%= @tool.name %></p>
    <p>種類:<%= @tool.genre %></p>
</div>
<%= link_to("編集", "/care_tools/#{@tool.id}/edit", class:"btn btn-primary") %>
<%= link_to("削除", "/care_tools/#{@tool.id}", method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-danger") %>

