<nav class="navbar navbar-light bg-light">
  <div class="mr-auto mt-lg-0">
    <%= link_to("トップページ", "/", class: "nav-item mr-2") %>
    <%= link_to("療養者一覧", "/patients", class: "nav-item mr-2 ml-2") %>
    <%= link_to("看護師一覧", "/nurses", class: "nav-item mr-2 ml-2") %>
  </div>
  <div class="form-inline my-2 my-lg-0">
    <% if logged_in? %>
      <%= link_to("ログアウト", "/logout", method: :delete, data: {confirm: "ログアウトしますか?"}, class:"btn btn-link") %>
    <% else %>
      <%= link_to("ログイン", "/login", class: "btn btn-link") %>
    <% end %>
  </div>
</nav>