<!DOCTYPE html>
<html>
  <head>
    <title>NurseSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# ヘッダー %>
    <%= render :partial => 'layouts/header' %>
  </div>
    <%# 本体 %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="mt-2 alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%# ここに書くページのerbが読み込まれる %>
      <%= yield %>
    </div>
  </body>
</html>
